<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="GmailTestSuite">
   <test name="GmailFuncTests">
   
	   <groups>
	      <run>
	      	<include name="functest" />
	      </run>
	   </groups>

	   <classes>
	      <class name="com.gmail.tests.TestGmailLoginPage"/>
	      <class name="com.gmail.tests.TestGmailInboxPage"/>
	   </classes>
   </test>
</suite>